<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Binder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Int20H 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Int20H.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEEC079E1E6B082200AE6FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEC07BA1E6B082200AE6FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEEC07C51E6B082200AE6FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
